* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito-Black-900";
}

.row button {
    background-color: #440099;
    color: #080808;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.row input {
    background-color: #eee;
    border-color: #6200EE;
    /* float: left; */
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}