#boton-registro {
    font-family: "Nunito-BlackItalic-900";
    margin-top: 5%;
    background-color: #8733FF;
    border-color: #8733FF;
}

.text-center {
    font-family: "Nunito-BlackItalic-900";
}

.form-label{
    font-family: "Nunito-Bold-700";
}